{{> layouts/mainLayout}}

<h1>Dashboard</h1>

<h2>Existing Blog Posts:</h2>
{{#each blogPosts}}
  {{> blog/blogPost}}
{{/each}}

<a href="/dashboard/create" class="create-link">Create New Blog Post</a>
