<!-- views/layouts/partials/nav.handlebars -->

<ul>
  <li><a href="/">Home</a></li>
  {{#if loggedIn}}
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a href="/logout">Log Out</a></li>
  {{else}}
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Log In</a></li>
  {{/if}}
</ul>
