<!-- views/layouts/main.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{#get 'title'}}Tech Blog{{/get}}</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

  {{#if logged_in}}
    {{> navbar}}
    {{{ user_id }}}
    {{ userName }}
    <div class="container">
      {{{ body }}}
    </div>
  {{else}}
    {{> login}}
  {{/if}}

  <footer>
    <p>&copy; 2023 Tech Blog. All rights reserved.</p>
  </footer>
  <script type="text/javascript" src="/js/javascript.js"></script>
</body>

</html>
