/* /public/css/style.css */
body {
  background-color: darkgray;
  color: #333;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
  background-color: darkgray;
  padding: 20px;
}

h2 {
  color: cream;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: cream;
  padding: 10px;
  margin-bottom: 10px;
}

a {
  color: cream;
  text-decoration: none;
}

a:hover {
  color: #333;
}
